.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 6rem 0;
}

.heroTitle {
  font-size: 4em;
  color: var(--White);
}

@media screen and (max-width: 750px) {
  .header {
    position: relative;
    width: 100%;
    padding: 3rem 0;
  }
}