.fullScreenContainer {
  position: relative;
  display: flex;
  min-height: 100vh; 
}

.layout {
  display: flex;
  gap: 4rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative; 
  z-index: 10;
}

@media screen and (max-width: 750px) {
  .layout {
    flex-direction: column;
  }
}