:root {
  --Navy: #0a192f;
  --LightNavy: #112240 #112240;
  --LightestNavy: #233554;
  --Slate: #8892b0;
  --LightSlate: #a8b2d1;
  --LightestSlate: #ccd6f6;
  --White: #e6f1ff;
  --Green: #64ffda;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--Navy);
  color: var(--LightSlate);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 3em;
}

h2,
.h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: var(--White);
}

a:hover {
  color: var(--Green);
  transition: 0.3s ease;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.section-padding-top {
  padding-top: 3.5rem;
}
.section-padding-bottom {
  padding-bottom: 3.5rem;
}

.text-white {
  color: var(--White);
}

.text-slate {
  color: var(--Slate);
}

.text-lightSlate {
  color: var(--LightSlate);
}

.text-lightestSlate {
  color: var(--LightestSlate);
}

.w-500 {
  font-weight: 500;
}

.relaxed {
  line-height: 1.625em;
}

.iconLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.iconButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.iconButton svg {
  width: 1rem;
  height: 1rem;
  transition: 0.3s ease;
}

.pill {
  display: inline-block;
  background-color: var(--LightestNavy);
  background-color: rgba(94, 234, 212, .1);
  color: var(--Green);
  border-radius: 12px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.675em;
  font-weight: 500;
}
